// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ReaReg-primary: mat-palette($mat-reareg, 800);
$ReaReg-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ReaReg-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ReaReg-theme: mat-light-theme((
  color: (
    primary: $ReaReg-primary,
    accent: $ReaReg-accent,
    warn: $ReaReg-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ReaReg-theme);

/* You can add global styles to this file, and also import other style files */


/* CSS for Elements */

// html and body
html, body {
  height: 100%;
}

// Body style
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Button style
button {
  height: 50px;
}

// Mat-error style
mat-error {
  display: block;
}

// Mat-radio-button style
mat-radio-button {
  height: 30px;
  font-size: 16px;
  margin: 7px 0
}

// Mat toolbar style
.mat-toolbar-row {
  padding: 5px !important;
}


mat-toolbar-row button {
  width: 120px;
}

// Mat table style
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 5px !important;
}

.mat-sort-header {
  white-space: pre-line;
}

table {
  width: 100%;
  text-align: center;
}

.table-container {
  overflow: auto;
  max-width: 100%;
  clear: both;
}

// loading shade style
.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDisabled {
  color: #b0b0b0;
}

th div {
  text-align: center;
}

// Formfield style
mat-form-field mat-icon, mat-datepicker-toggle svg {
  font-size: 24px !important;
}

mat-form-field ngx-material-timepicker-toggle {
  position: relative;
  top: 11px;
  left: 7px;
  fill: #757575;
}

// iFrame
iframe {
  width: 100%;
  height: calc(100% - 64px);
}

//Snackbar color
.green-snackbar {
  background: rgb(64, 191, 114);
  color: white;
}

.green-snackbar button {
  color: white;
}

.blue-snackbar {
  background: rgb(64, 151, 191);
  color: white;
}

.blue-snackbar button {
  color: white;
}

.red-snackbar {
  background: #F44336;
  color: white;
}

.red-snackbar button {
  color: white;
}

// Set mat card header text margin
.mat-card-header-text {
  margin: 0 !important;
}

//Set height of mat drawer
.mat-drawer-container {
  height: 100%;
}

// Set width of mat drawer inner container
.mat-drawer-inner-container {
  width: 250px !important;
}

//Spacers setup
.spacer-10 {
  width: 10px;
  height: auto;
}

.spacer-20 {
  width: 20px;
  height: auto;
}

.spacer-50 {
  width: 50px;
  height: auto;
}

.spacer-120 {
  width: 120px;
  height: auto;
}

// Toolbar title
.toolbar-title {
  width: 100%;
  text-align: center;
}

// Submit button
.submit {
  margin: 30px auto 0 !important;
  display: block !important;
  font-size: 16px;
}

//Set height of datepicker and calendar
.mat-datepicker-content .mat-calendar {
  height: auto !important;
}

//Set size of checkboxes
mat-checkbox {
  font-size: 16px;
}

//authorizationError
.authorizationError {
  margin: 100px auto;
  max-width: 500px;
  text-align: center;
}

// Info buttons
.infoButton button span {
  padding: 0 !important;
}

.infoButton button {
  margin-left: 20px;
  position: relative;
  top: 13px;
  height: 25px !important;
  width: 25px !important;
  font-size: 16px !important;
  line-height: 0 !important;
}

.infoButtonLabel button span {
  padding: 0 !important;
}

// Mat expansion panel padding
.mat-expansion-panel-bodyWithPadding .mat-expansion-panel-body {
  padding: 10px 5px 40px 5px !important;
}

mat-expansion-panel mat-icon {
  margin-right: 10px;
  position: relative;
  top: -3px;
}

.mat-expansion-indicator::after {
  color: white !important;
}

mat-expansion-panel {
  margin: 5px !important;
  border-radius: 0 !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

mat-expansion-panel-header {
  padding: 0 20px 0 10px !important;
  height: 50px !important;
  background-color: #003064 !important;
}

// position of add button
.add-button {
  margin: 10px !important;
  float: right;
}

// loading shade style
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Back buttons position
.back {
  float: left;
}

// Next button position
.next {
  float: right;
}

.div-elevation mat-elevation-z4 {
  display: block;
  width: 300px;
}

// Background div with color
.blueBackground {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003064;
}

// Set card size
.centerCard {
  width: 90%;
  max-width: 400px;
  min-width: 320px;
  min-height: 400px;
  max-height: 700px;
}

// Set logo position and size
.centerCard .mat-card-sm-image {
  width: auto;
  margin: 0 auto 50px auto;
}

// Set margin of card header
.centerCard mat-card-header {
  margin: 0 !important;
}

// Set style and position of card content
.centerCard mat-card-content {
  margin: 25px auto;
  display: block;
  text-align: center;
}

// Set title margin top
.centerCard h2 {
  margin-top: 20px;
}

// Set head position and width (page title and cancel button)
.head {
  clear: both;
  margin: 10px;
  width: calc(100% - 20px);
  height: 50px;
}

// Set position and width of page title
.head h2 {
  width: 300px;
  display: inline;
}

// Set position of cancel button
.head button {
  display: inline;
  float: right;
}

// Set style of timepicker
.timepicker {
  .timepicker__header {
    background-color: #003064 !important;
  }

  .clock-face__clock-hand {
    background-color: #003064 !important;

    &::after {
      background-color: #003064 !important;
    }

    &::before {
      border-color: #003064 !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #003064 !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #003064 !important;
  }
}

// Setup section
section {
  display: flex;
  flex-wrap: wrap;
}

section mat-checkbox {
  font-size: 14px;
  margin: 7px 15px 7px 0;
  flex: 0 0 30% !important;
}


// Setup mat panel
mat-panel-title {
  position: relative;
  top: 2px;
  color: white !important;
  font-size: 20px;
  margin: 2px;
}

// Setup mat Tab
.mat-tab-label-content {
  font-size: 18px;
}

.mat-tab-label-content mat-icon {
  margin-right: 10px;
}

// Dialog set button position to center
.mat-dialog-actions.center {
  justify-content: center;
}

// Fix toolbar
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
