<mat-toolbar color="primary">
  <!-- Title -->
  <mat-toolbar-row>
    <span class="toolbar-title">{{"administrationPage.title"| translate}}</span>
    <span class="spacer-120"></span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Content check if user is administrator -->
<div *ngIf="authorization===3">
  <!-- Page header with title and cancel button -->
  <div class="head">
    <h2>{{"administrationPage.user.add.title"| translate}}</h2>
    <button class="cancel" color="warn" mat-stroked-button routerLink="/administration">
      <mat-icon>close</mat-icon>
      {{"message.cancel" | translate}}</button>
  </div>
  <div *ngIf="creation===2">
    <!-- Input fields with user information -->
    <ng-template matStepLabel>{{"administrationPage.user.add.stepper1" | translate}}</ng-template>
    <form [formGroup]="userForm" class="user-form">
      <mat-form-field>
        <mat-label>{{'userPage.labelUsername' | translate}}</mat-label>
        <input formControlName="username" matInput name="username" required type="text">
        <mat-error *ngIf="userForm.controls['username'].hasError('minlength')">{{'administrationPage.user.add.error.username1' | translate}}</mat-error>
        <mat-error *ngIf="userForm.controls['username'].hasError('userAlreadyExists')">{{'administrationPage.user.add.error.username3' | translate}} </mat-error>
        <mat-error *ngIf="userForm.controls['username'].hasError('maxlength')">{{'administrationPage.user.add.error.username2' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'userPage.labelPassword' | translate}}</mat-label>
        <input autocomplete="new-password" formControlName="password" matInput name="password" required type="password">
      </mat-form-field>
      <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">{{'userPage.error.password1' | translate}}</mat-error>
      <mat-error *ngIf="userForm.controls['password'].hasError('pattern')">{{'userPage.error.password2' | translate}}</mat-error>
      <mat-form-field>
        <mat-label>{{'userPage.labelConfirmPassword' | translate}}</mat-label>
        <input autocomplete="new-password" formControlName="confirmPassword" matInput name="confirmPassword" required type="password">
        <mat-error *ngIf="userForm.errors?.passwordMatchValidator">{{'error.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{"administrationPage.user.add.authorization" | translate}}</mat-label>
        <mat-select formControlName="authorization" required value="1">
          <mat-option value="1">{{"authorization.1" | translate}}</mat-option>
          <mat-option value="2">{{"authorization.2" | translate}}</mat-option>
          <mat-option value="3">{{"authorization.3" | translate}}</mat-option>
        </mat-select>
        <mat-error>{{"error.required" | translate}}</mat-error>
      </mat-form-field>
    </form>
    <form (submit)="createUser()" [formGroup]="tokenForm" class="user-form" method="post">
      <mat-form-field>
        <mat-label>{{'administrationPage.user.add.stepper5' | translate}}</mat-label>
        <input formControlName="token" matInput name="token" required type="text">
        <mat-error *ngIf="tokenForm.controls['token'].hasError('token')">{{'administrationPage.user.add.error.token' | translate}}</mat-error>
      </mat-form-field>
      <!-- Save button -->
      <button [disabled]="!tokenForm.valid || !userForm.valid" class="submit" color="primary" mat-raised-button>
        <mat-icon>save</mat-icon>
        {{'administrationPage.user.add.create' | translate}}</button>
    </form>
  </div>
  <div *ngIf="creation===1">
    <mat-horizontal-stepper linear>
      <!-- Input fields with user information -->
      <mat-step [stepControl]="userForm">
        <ng-template matStepLabel>{{"administrationPage.user.add.stepper1" | translate}}</ng-template>
        <!-- Next button -->
        <button [disabled]="!userForm.valid" class="next" color="primary" mat-raised-button matStepperNext>{{"message.next" | translate}}
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <form [formGroup]="userForm" class="user-form">
          <mat-form-field>
            <mat-label>{{'userPage.labelUsername' | translate}}</mat-label>
            <input formControlName="username" matInput name="username" required type="text">
            <mat-error *ngIf="userForm.controls['username'].hasError('required')">{{'error.required' | translate}}</mat-error>
            <mat-error *ngIf="userForm.controls['username'].hasError('minlength')">{{'administrationPage.user.add.error.username1' | translate}}</mat-error>
            <mat-error *ngIf="userForm.controls['username'].hasError('userAlreadyExists')">{{'administrationPage.user.add.error.username3' | translate}} </mat-error>
            <mat-error *ngIf="userForm.controls['username'].hasError('maxlength')">{{'administrationPage.user.add.error.username2' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'userPage.labelPassword' | translate}}</mat-label>
            <input autocomplete="new-password" formControlName="password" matInput name="password" required type="password">
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">{{'error.required' | translate}}</mat-error>
          </mat-form-field>
          <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">{{'userPage.error.password1' | translate}}</mat-error>
          <mat-error *ngIf="userForm.controls['password'].hasError('pattern')">{{'userPage.error.password2' | translate}}</mat-error>
          <mat-form-field>
            <mat-label>{{'userPage.labelConfirmPassword' | translate}}</mat-label>
            <input autocomplete="new-password" formControlName="confirmPassword" matInput name="confirmPassword" required type="password">
            <mat-error *ngIf="userForm.controls['confirmPassword'].hasError('required')">{{'error.required' | translate}}</mat-error>
          </mat-form-field>
          <mat-error *ngIf="userForm.errors?.passwordMatchValidator && userForm.value['confirmPassword'].length > 0">{{'userPage.error.confirmPassword' | translate}}</mat-error>
          <mat-form-field>
            <mat-label>{{"administrationPage.user.add.authorization" | translate}}</mat-label>
            <mat-select formControlName="authorization" required value="1">
              <mat-option value="1">{{"authorization.1" | translate}}</mat-option>
              <mat-option value="2">{{"authorization.2" | translate}}</mat-option>
              <mat-option value="3">{{"authorization.3" | translate}}</mat-option>
            </mat-select>
            <mat-error>{{"administrationPage.error.required" | translate}}</mat-error>
          </mat-form-field>
        </form>
      </mat-step>
      <!-- Create REDCap user -->
      <mat-step>
        <ng-template matStepLabel>{{"administrationPage.user.add.stepper2" | translate}}</ng-template>
        <h2 class="title">{{"administrationPage.user.add.stepper2" | translate}}</h2>
        <button class="back" color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back_ios</mat-icon>
          {{"message.back" | translate}}</button>
        <!-- Next button -->
        <button (click)="loadLinks()" class="next" color="primary" mat-raised-button matStepperNext>{{"message.next" | translate}}
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <iframe [src]="redcapURLCreateUser" [style.height.px]="iframeSize"></iframe>
      </mat-step>
      <!-- Add user to project -->
      <mat-step>
        <ng-template matStepLabel>{{"administrationPage.user.add.stepper3" | translate}}</ng-template>
        <h2 class="title">{{"administrationPage.user.add.stepper3" | translate}}</h2>
        <button class="back" color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back_ios</mat-icon>
          {{"message.back" | translate}}</button>
        <!-- Next button -->
        <button class="next" color="primary" mat-raised-button matStepperNext>{{"message.next" | translate}}
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <iframe [src]="redcapURLAddUser" [style.height.px]="iframeSize"></iframe>
      </mat-step>
      <!-- Create REDCap API-token -->
      <mat-step>
        <ng-template matStepLabel>{{"administrationPage.user.add.stepper4" | translate}}</ng-template>
        <h2 class="title">{{"administrationPage.user.add.stepper4" | translate}}</h2>
        <button class="back" color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back_ios</mat-icon>
          {{"message.back" | translate}}</button>
        <!-- Next button -->
        <button class="next" color="primary" mat-raised-button matStepperNext>{{"message.next" | translate}}
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <iframe [src]="redcapURLToken" [style.height.px]="iframeSize"></iframe>
      </mat-step>
      <!-- User token form -->
      <mat-step>
        <ng-template matStepLabel>{{"administrationPage.user.add.stepper5" | translate}}</ng-template>
        <button class="back" color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back_ios</mat-icon>
          {{"message.back" | translate}}</button>
        <form (submit)="createUser()" [formGroup]="tokenForm" class="user-form" method="post">
          <mat-form-field>
            <mat-label>{{'administrationPage.user.add.stepper5' | translate}}</mat-label>
            <input formControlName="token" matInput name="token" required type="text">
            <mat-error *ngIf="tokenForm.controls['token'].hasError('token')">{{'administrationPage.user.add.error.token' | translate}}</mat-error>
          </mat-form-field>
          <!-- Save button -->
          <button [disabled]="!tokenForm.valid" class="submit" color="primary" mat-raised-button>
            <mat-icon>save</mat-icon>
            {{'administrationPage.user.add.create' | translate}}</button>
        </form>
        <!-- Loading bar -->
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
